<!-- <div>
  <div class="loader-container">
    <div class="loader"></div>
    <div class="loader-text">
      <h1>Loading...</h1>
      <p>Please wait while we load your data.</p>
    </div>
  </div>
</div> -->

<!-- The code above show the old fashioned way of using the skeleton loader component -->

<!-- The code below show the new way of using the skeleton loader component -->

<div
  *ngIf="
    products != null && products != undefined && products.length > 0;
    else skeletonLoaderContainer
  "
>
  <div class="item-flex-center" *ngFor="let product of products">
    <div class="item-image">
      <img [src]="product.image" alt="product image" />
    </div>
    <div class="item-details">
      <h2>{{ product.name }}</h2>
      <p>{{ product.description }}</p>
    </div>
  </div>
</div>

<!-- example with circles -->
<!-- <ng-template #skeletonLoaderContainer>
  <div class="loader-container">
    <ngx-skeleton-loader count="5" appearance="circle" />
  </div>
</ng-template> -->

<!-- example with lines -->
<ng-template #skeletonLoaderContainer>
  <div class="loader-container">
    <ngx-skeleton-loader count="5" appearance="line" />
  </div>
</ng-template>
