<div class="flex justify-center mt-6">
  <h1 class="text-3xl text-gray-700">Add Todo</h1>
</div>

<div class="flex justify-center mt-6">
  <table class="w-1/2 border-collapse border-2 border-gray-500" aria-describedby="todoTable">
    <thead>
      <tr>
        <th class="border-2 border-gray-500 px-4 py-2">Title</th>
        <th class="border-2 border-gray-500 px-4 py-2">Description</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td class="border-2 border-gray-500 px-4 py-2">
          <input [(ngModel)]="todoInput" 
          class="w-full px-3 py-2 text-gray-700 border rounded-lg focus:outline-none" 
          type="text" 
          placeholder="Enter todo item" id="todoInput">
        </td>
        <td class="border-2 border-gray-500 px-4 py-2">
          <input [(ngModel)]="todoDescription" 
          class="w-full px-3 py-2 text-gray-700 border rounded-lg focus:outline-none" 
          type="text" 
          placeholder="Enter description" id="todoDescription">
        </td>
      </tr>
    </tbody>
  </table>
</div>
<div class="flex justify-center mt-4">
  <button class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded" (click)="addToDo()">Add</button>
</div>

<hr class="mt-6">

<app-to-do-list-viewer></app-to-do-list-viewer>

<ngx-spinner></ngx-spinner>