<form [formGroup]="userForm" (ngSubmit)="onSubmit()">

  <div class="mb-3">
    <label for="id" class="form-label">ID</label>
    <input type="text" class="form-control" id="id" formControlName="id">
  </div>

  <div class="mb-3">
    <label for="nome" class="form-label">Nome</label>
    <input type="text" class="form-control" id="nome" formControlName="name">
  </div>

  <div class="mb-3">
    <label for="idade" class="form-label">Idade</label>
    <input type="number" class="form-control" id="idade" formControlName="age">
  </div>

  <div class="mb-3">
    <label for="perfil" class="form-label">Perfil</label>
    <input type="text" class="form-control" id="perfil" formControlName="profile">
  </div>

  <button type="submit" class="btn btn-primary" [disabled]="!userForm.valid">Salvar</button>

</form>