<table class="table table-responsive">

  <thead>

    <tr>
      <th>ID</th>
      <th>Nome</th>
      <th>Idade</th>
      <th>Perfil</th>
      <th>Ação</th>
    </tr>

  </thead>

  <tbody>

    <tr *ngFor="let user of users$ | async">
      <td>{{user.id}}</td>
      <td>{{user.name}}</td>
      <td>{{user.age}}</td>
      <td>{{user.profile}}</td>
      <td>
        <button class="btn btn-outline-warning mx-2" (click)="editUser(user)">Editar</button>
        <button class="btn btn-outline-danger mx-2" (click)="deleteUser(user.id)">Deletar</button>
      </td>
    </tr>

  </tbody>

</table>