<!-- 
<div class="flex col-12 col-md-12 col-lg-12 align-center justify-center text-center">
    <p hoverHighlight>This is a paragraph of text</p>

    <hr />

    <p borderHighlightDirective #border="bhd">This is a second paragraph of text</p>

    <button class="btn btn-success" (dblclick)="border.toggle()">Double click me!</button>

    <hr />

    <div *ngUnless="false">This is a div to test ngUnless</div>

    <hr />

    <app-host-selector>

    </app-host-selector>

    <hr />
</div> -->

<div class="flex col-12 col-md-12 col-lg-12 align-center justify-center text-center">
    <app-product></app-product>
</div>