<h1 class="text-3xl font-bold">Register area</h1>

<form class="space-y-4 p-4" noactivate [formGroup]="userForm">

    <div class="flex flex-col">
        <label for="name" class="font-semibold text-gray-700">Name</label>
        <input type="text"
            class="mt-1 mb-2 border focus:ring-indigo-500 focus:border-indigo-500 block w-full shadow-sm sm:text-sm border-gray-300 rounded-md"
            formControlName="name">

        <label for="lastName" class="font-semibold text-gray-700">Last Name</label>
        <input type="text"
            class="mt-1 mb-2 border focus:ring-indigo-500 focus:border-indigo-500 block w-full shadow-sm sm:text-sm border-gray-300 rounded-md"
            formControlName="lastName">

        <div formArrayName="states">
            <div *ngFor="let state of states; index as i">
                <input type="checkbox" [formControlName]="i" (change)="onStateChange($event, i)">
                <label>{{ state }}</label>
            </div>
        </div>

        <!-- Date of birth -->
        <label for="dob" class="font-semibold text-gray-700">Date of Birth</label>
        <input mask="d0/M0/0000" class="mt-1 mb-2 border focus:ring-indigo-500 focus:border-indigo-500 block w-full shadow-sm sm:text-sm border-gray-300 rounded-md"
            formControlName="dob">

        <!-- CFP Brazilian field -->
        <label for="cpf" class="font-semibold text-gray-700">CPF</label>
        <input type="text" [mask]="this.MASKS['cpf'].text" formControlName="cpf">

        <!-- Age -->
        <label for="age" class="font-semibold text-gray-700">Age</label>
        <input type="number" formControlName="age">
        <p *ngIf="this.userForm.controls['age'].errors?.['min']" class="text-red-500">
        The minimum age should be at least 18</p>

        <button (click)="addUser()"
            class="inline-flex items-center px-4 py-2 border border-transparent shadow-sm text-sm font-medium rounded-md text-white bg-indigo-600 hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500">
            Submit
        </button>
    </div>

</form>