<div class="text-center bg-gray-800 text-white p-4" style="min-height: 100vh;">

  <div class="p-3 flex flex-col justify-center items-center h-full w-full">

    <!-- Header with card -->
    <div class="">
      <h1 class="h1 text-3xl font-bold">List of items to buy</h1>
      <p-divider></p-divider>
    </div>

    <div class="input-group mb-3 w-full">
      <input class="form-control" type="text" placeholder="Add new item" [(ngModel)]="product.name"(ngModelChange)="updateItem()"  >
      <input class="form-control" type="number" placeholder="Quantity" [(ngModel)]="product.quantity">
      <input class="form-control" type="number" placeholder="Price" [(ngModel)]="product.price">
      <button class="btn btn-primary" (click)="addOrUpdateItem()">{{ isNew ? 'Add' : 'Update' }}</button>
    </div>

    <div class="w-1/2 m-3" *ngIf="purchasedItems != undefined && purchasedItems.length > 0">

      <table class="rounded-md border-collapse border-2 table" aria-describedby="items">

        <thead class="table-header-group ">

          <tr class="table-row">

            <th class="table-cell">ID</th>
            <th class="table-cell">Item</th>
            <th class="table-cell">Quantity</th>
            <th class="table-cell">Price</th>
            <th class="table-cell">Actions</th>
          </tr>

        </thead>

        <tbody class="table-row-group">

          <tr class="table-row" *ngFor="let item of purchasedItems" app-item-info [item]="item" (onEdit)="editItem(item) " (onDelete)="deleteItem(item)"></tr>

        </tbody>

      </table>

    </div>

  </div>

</div>